<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<table width="100%" cellspacing="0" cellpadding="0" style="background:#f1f1f1;width:100%">
  <tbody>
  <tr>
    <td>
      <table cellpadding="0" cellspacing="0" style="max-width:600px;background:#fff;display:block;margin:10px auto">
        <tbody>
        <tr>
          <td height="" style="background:#ff6c1f;text-align:center;padding-top:5px;max-width:600px;display:block"><a href="" style="color:#ff6c1f;border:none" target="_blank">
          </a>
          </td>
        </tr>
        <tr>
          <td style="background:white;padding:40px;max-width:600px;display:block;font-family:Arial">
            <div style="color:#999999;font-family:Helvetica,Arial,san-serif;font-size:14px;line-height:150%">
              <p style="font-family:&quot;Helvetica&quot;,&quot;Arial&quot;;color:#999;font-size:14px;line-height:150%">
                Contact <%= @first_name %> <%= @last_name %> is interested on <%= @profile %>
              </p>

              <p style="font-family:&quot;Helvetica&quot;,&quot;Arial&quot;;color:#999;font-size:14px;line-height:150%">Click to view the response: <a href="<%= @link %>"><%= @link %></a> </p>

            </div>
          </td>
        </tr>
        <tr><td style="display:block;max-width:600px;min-height:0px"><div style="width:600px"></div></td></tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
