<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1 style="font-size: 16px">Dear ! </h1>
<p style="font-weight: normal"></p>

<p ><%= @body %></p>
<p >Click below to check it out. <%= @link %></p>

</body>
</html>