<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {

        FB.init({
            appId      : "136247586513984", // App ID
            channelUrl : "//crushpath.me/channel.html",
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : true, // parse XFBML
            oauth      : true
        });

        window.fbInitialized = true;
        window.fbHooks = false;

        if (typeof(setupFB) !== 'undefined'){
            setupFB();
        }
    };
    // Load the SDK asynchronously
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<div id="pitch_container"></div>
<div id="pitch_container_promotion"></div>
<script type="text/javascript">
    Studentconnect.background_default = <%= @background_default.to_json().html_safe %>
    window.pitch = new Studentconnect.Models.Pitch(<%= @pitch.to_json(include: {user: {include: {profile: {} }}, links: {}, lists: {include:{photo: {}}} , statistics: {}}).html_safe%>)
    pitch.url = '/pitches/' + pitch.id + '.json'
    PitchView = new Studentconnect.Views.PitchesView({model: pitch, el: "#pitch_container", page_view: true})
    PitchView.render()
</script>