<div class="container" id="users_page">
  <div class="row-fluid show-grid" style=" margin-top: 100px; margin:100px auto">

    <div class="span12">
      <div class="span1"></div>
      <div class="span4">
        <h2 style="font-size: 24px">Change your password</h2>

        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class =>"sign_in" }) do |f| %>
            <%= devise_error_messages! %>
            <%= f.hidden_field :reset_password_token %>
            <%= f.password_field :password, :autofocus => true, :class => "input-text expand", :placeholder => "New password" %>
            <%= f.password_field :password_confirmation, :class => "input-text expand", :placeholder => "Confirm new password" %>
            <%= f.submit "Change my password", :class => "button full-width" %>
        <% end %>

      </div>
      <div class="span2"></div>
      <div class="span4">
        <h3 style="font-size: 24px">Login  with social network</h3>
        <div class="auth">
          <ul>
            <li>
              <a class="button full-width auth-facebook" href="users/auth/facebook/">                             Sign in with
                <strong>Facebook</strong>
              </a>
            </li>
            <li>
              <a class="button full-width auth-google" href="/users/auth/google_oauth2">
                Sign in with
                <strong>Google</strong>
              </a>
            </li>

          </ul>
        </div>
      </div>
      <div class="span1"></div>
    </div>


  </div>
</div>


