#endorsementModal, #contact_me_modal
  background: image-url("bg-content.png") repeat scroll center top #F7F7F7
  width: 520px
  border-radius: 5px 5px 5px 5px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4)
  padding-top: 15px
  padding-left: 34px
  padding-right: 34px
  padding-bottom: 34px
  position: absolute
  z-index: 1050
  margin-left: -280px
  .button.loading
    opacity: 0.6
  .button 
    background: -moz-linear-gradient(90deg, #629219 0%, rgba(116, 169, 30, 0) 100%) repeat scroll 0 0 #8BC92A
    background: -webkit-linear-gradient(90deg, #629219 0%, rgba(116, 169, 30, 0) 100%) repeat scroll 0 0 #8BC92A
    border: 1px solid #64921B
    border-radius: 5px 5px 5px 5px
    box-shadow: 0 1px 0 #FFFFFF, 0 1px 0 #B0E25C inset
    color: #FFFFFF
    display: block
    font-size: 18px
    font-weight: bold
    margin-top: 7px
    padding-bottom: 20px
    padding-top: 20px
    text-align: center
    text-shadow: 0 -1px 0 #6A981C
    transition: background-color 0.5s ease 0s
    margin: 0 auto
  
    &:hover 
      background-color: #A9DE57
  
    &:active 
      background: -moz-linear-gradient(90deg, #73A81F 0%, #73A81F 100%) repeat scroll 0 0 #84BF25
  
  .modal-header
    border: none
    h2
      text-align: center
      font-size: 28px
    .close
      padding: 3px
      float: right
  .modal-body
    background-color: #ffffff
    max-height: none
    border: 1px solid #cccccc
    border-radius: 4px
    .button
      &:hover
        text-decoration: none
    .facebook-connect .button
      background: none repeat scroll 0 0 #38538B
      border: medium none
      box-shadow: none
      font-weight: normal
      margin: 20px auto
      padding: 25px 0
      text-shadow: none
      width: 70%
      color: #FFFFFF
      text-align: center
      font-size: 18px
      border-radius: 5px
      display: block
    .manual
      display: block
      text-align: center
      &:hover
        text-decoration: none
  
    .form
      margin-top: 16px
      margin-bottom: 16px
      .row.personal
        width: 100%
        max-width: none
      .avatar 
        background-image: url("/assets/person_default.png")
        background-size: cover
        border: medium none
        border-radius: 3px 3px 3px 3px
        box-shadow: none
        height: 104px
        left: 0
        position: relative
        top: 0
        width: 104px

      input[type="text"],textarea 
        background-color: #FCFCFC
        border: 1px solid #E0DFDF
        border-radius: 3px 3px 3px 3px
        color: #999999
        font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif
        height: 38px
        padding: 10px
        width: 100%
        -moz-box-sizing: border-box
        -webkit-box-sizing: border-box
        &:focus
          background-color: #F9F9F9
          border-color: #D3D3D3
          box-shadow: 0 1px 2px #EFEFEF inset
      textarea
        line-height: 160%
        height: 100px
      label
        color: #5F6676
        cursor: pointer
        display: block
        line-height: 18px
        font-weight: bold
        margin-bottom: 7px
        font-size: 16px
      .counter
        float: right
        font-size: 15px
    
    .success
      min-width: 75px
      .photo
        height: 60px
        left: 30px
        position: absolute
        top: 30px
        width: 60px
        img
          background: none repeat scroll 0 0 #EEEEEE
          height: 52px
          position: absolute
          right: 0
          top: 0
          width: 52px
        .quote-icon
          bottom: 0
          left: 0
          position: absolute
          text-align: center
          width: 18px
      .quote
        margin-left: 90px
        margin-top: 15px
        p
          font-family: "Georgia",sans-serif
          font-size: 15px
          font-style: italic
          margin-bottom: 10px
          margin-top: 8px
          line-height: 14px
        small
          color: #AAAAAA
          font-size: 13px
      .button
        margin: 30px auto 20px
        width: 40%
      a
        display: block
        text-align: center
.modal-header
  border-bottom: 0
  .close
    padding-left: 5px
    padding-right: 5px
  h1
    background: url('/assets/overview-badge-showcase.png') no-repeat center 18px
    padding-top: 124px
    text-align: center
    margin-top: 0
    margin-bottom: 25px
    font-size: 32px
.modal-body
  p
    line-height: 1.4
    margin: 0 0 18px
    font-size: 16px
.modal-footer
  border-bottom: 0

#modal_see_example
  position: absolute
  .modal-header
    padding: 0
    h1
      background-image: none
      background: #66CCCC
      border-bottom: none
      text-align: center
      font-size: 20px
      font-weight: normal
      padding: 40px 20px
      color: #fff
      text-shadow: none
      line-height: 1.25
      i
        display: block
        margin-bottom: 10px
        font-size: 70px

    .close
      font-size: 22px
      font-weight: bold
      color: #ffffff
      text-shadow: none
      position: absolute
      top: 0px
      right: 6px
      padding: 0
      margin: 0

  .modal-body
    max-height: none
    padding: 0
    margin: 0
    .embeds-preview
      margin: 10px 50px
      width: 461px
      height: 322px
      background: image-url("endorsements-preview.png")


#contact_me_modal
  .button
    width: 80px
  #send_contact
    width: 144px
  .intro
    h2
      font-size: 26px
  .modal-body
    .facebook-connect
      p 
        font-size: 17px
        text-align: center
      a
        font-size: 18px
      .icon-facebook-sign
        font-size: 18px


      


  
    


