.users
  .bg-login
    background-color: #fff
    position: relative
    padding: 15px
    border-radius: 5px
header
  &:hover
    .btn_upload_bg
      display: block

.btn_upload_bg
  cursor: pointer
  position: absolute
  text-align: center
  right: 10px
  margin-top: -40px
  background-color: rgba(0, 0, 0, 0.4)
  display: none
  padding: 10px
  color: white
  text-shadow: 0 -1px 0 #6A981C
  border-color: #000
#spotlightModal
  background: #000
  position: fixed
  width: 100%
  height: 100%
  opacity: .5
  filter: alpha(opacity=50)
  z-index: 18
  top: 0px
  left: 0
  display: none
  
#fileupload_background input[type="file"]
  position: absolute
  left: 0
  right: 0
  margin-top: 6px
  margin-left: 20px
  width: 150px
  opacity: 0
  filter: alpha(opacity=0)
  transform: translate(-300px, 0) scale(4)
  font-size: 23px
  direction: ltr
  cursor: pointer
  height: 40px
  line-height: 40px
  cursor: pointer
#fileupload_picture
  width: 200px
  height: 200px
  top: -61px
  display: inline-block
  margin: 0
  padding: 0
  position: absolute
  input[type="file"]
    position: absolute
    top: 0
    right: 0
    margin: 0
    opacity: 0
    filter: alpha(opacity=0)
    transform: translate(-300px, 0) scale(4)
    font-size: 23px
    direction: ltr
    cursor: pointer
  &:hover
    span.btn_upload
      display: block
      

  span.btn_upload
    cursor: pointer
    display: none
    bottom: -164px
    width: 100px
    height: 30px
    margin-left: 45px
    background-color: rgba(0, 0, 0, 0.4)
    color: white
    text-shadow: 0 -1px 0 #6A981C
    border-color: #000
    overflow: hidden
    position: relative


    .edit-trigger
      text-align: center
      line-height: 30px

ul#gallery_bg
  li
    cursor: pointer

#pitch_header
  position: relative
  section#utility-bar
    position: relative
  a.button.share.hide_privacy
    display: none
  .iPhoneCheckContainer
    width: 80px !important
    display: inline-block
    .iPhoneCheckHandle
      width: 40px !important
a
  cursor: pointer


a.custom-bg-button.disabled
  pointer-events: none

.main-content
  border-left: 1px solid #B7C0CD
  border-right: 1px solid #B7C0CD
  border-bottom: 1px solid #B7C0CD
  -webkit-border-bottom-right-radius: 5px
  -webkit-border-bottom-left-radius: 5px
  -moz-border-radius-bottomright: 5px
  -moz-border-radius-bottomleft: 5px
  border-bottom-right-radius: 5px
  border-bottom-left-radius: 5px
  background: #FFF
  position: relative
  overflow: hidden
.row
  min-width: 0

//  css for endorsement page
h1, h2, h3, h4, h5, h6
  color: #5F6676
  font-weight: bold
  line-height: 1.25

#recipientsSelector
  label .button
    float: right
    padding: 5px 7px
    font-size: 12px
    margin-top: -10px
    font-weight: normal
    text-decoration: none
  .recipient-bar 
    background-color: #fff
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.11)
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.11)
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.11)
    color: #5f6676
    border: solid 1px #b6c0cd
    border-radius: 3px
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px
    padding: 5px
    height: 120px
    overflow-y: scroll
    margin-bottom: 10px
    &:hover
      cursor: text
    .add-recipient-input
      display: inline-block
      position: relative
    input 
      font: 12px/18px "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif
      color: #5f6676
      border: none
      outline: none
      width: 200px
      padding: 5px
      position: relative
    .selected-recipients
      display: inline
      li 
        position: relative
        display: inline-block
        background: #f7f8fa
        border: 1px solid #cad0d9
        padding: 3px 30px 0px 10px
        margin: 0 4px 4px 0
        -webkit-border-radius: 3px
        -moz-border-radius: 3px
        border-radius: 3px
        -webkit-box-shadow: 0px 1px 0px #fff inset
        -moz-box-shadow: 0px 1px 0px #fff inset
        box-shadow: 0px 1px 0px #fff inset
        &:hover
          cursor: default
        &.contact
          padding-left: 3px
          padding-top: 7px
          vertical-align: top
        .img-thumb
          width: 27px
          height: 27px
          margin-top: -4px

        a.delete
          position: absolute
          font-weight: bold
          font-size: 14px
          display: block
          top: 9px
          right: 8px
          line-height: 0
          color: #acb6c2
  label
    span.note_title
      margin-left: 5px
      font-weight: normal
      font-style: normal
      &.color_red
        color: #ff773d
.result-contact
  li
    position: relative
    display: block
    background: #f7f8fa
    padding: 0px 30px 1px 10px
    margin: 0 4px 4px 0
    &:hover
      cursor: pointer
      background-color: #c4e3f3
    &.contact
      padding-left: 45px
      width: 200px
      height: 35px
    .avatar
      position: absolute
      margin-top: 5px
      margin-left: 5px
      top: 0px
      left: 0px
      height: 28px
      width: 28px
      -webkit-border-radius: 2px 0px 0px 2px
      -moz-border-radius: 2px 0px 0px 2px
      border-radius: 2px 0px 0px 2px
      background-size: cover
      background-position: center center
    span
      display: block



.promote-tool
  margin-top: 40px
  padding: 25px 50px
  width: auto
  .form-wrapper
    border-color: #B6C0CD
    padding: 17px 30px 30px 30px
    background-color: #F9FAFC
    border: 1px solid #E3E6EC
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px
    margin-bottom: 20px
    margin-right: auto
    margin-left: auto
    h4
      border-bottom: 1px solid #B6C0CD
      margin: 0 -30px 20px -30px
      padding: 0px 30px 17px 30px
      font-size: 16px
      a.example
        font-weight: normal
        float: right
        font-size: 14px
        margin-top: 3px
        text-decoration: none
        color: #FF6C1F
        &:hover
          color: #D95C1A
      i
        color: #C9D2DF
        margin-right: 5px
    .button.send_email
      width: 65px
      padding: 10px 20px 13px
      font-size: 14px
      background: #42AADA
      color: #fff
      -moz-box-shadow: none
      -webkit-box-shadow: none
      box-shadow: none
      -webkit-appearance: none
      text-shadow: 0 -1px 0 #278fbf
      border-color: #278fbf
  .input-text
    width: 100%
  textarea.input-text
    height: 100px
    resize: vertical

  label 
    display: block
    font-size: 12px
    font-size: 1.2rem
    line-height: 18px
    cursor: pointer
    margin-bottom: 14px
    font-weight: bold
    color: #5F6676

input.input-text, textarea
  border: 1px solid #bbb

.input-text,  textarea
  font: 12px/18px "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif
  padding: 6px 9px 4px
  outline: none !important
  background-color: #fff
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.11)
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.11)
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.11)
  color: #5F6676
  -webkit-border-radius: 3px
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
.workspace
  position: relative

.small 
  color: rgb(51, 51, 51)
  font-size: 11px
  font-family: tahoma, arial, verdana


a.custom-bg-button.disabled
  pointer-events: none

#add_to_list
  .caret
    margin-top: 5px
#list_profile
  width: 280px
  height: 500px
  position: absolute
  right: 15px
.show-hide
  display: inline-block
  float: right
  margin-top: -27px
  width: 17px
  height: 17px
  border-radius: 3px
  background-color: #ffffff
  text-align: center
  line-height: 17px
  &:hover
    text-decoration: none
  &.close
    .icon-ok-sign
      display: none
    .icon-remove-sign
      display: block

  .icon-ok-sign
    color: deepskyblue
    display: block
    line-height: 17px
  .icon-remove-sign
    display: none
    color: red
    line-height: 17px


.form-wrapper
  #advancedContactsSelector
    font-weight: bold
    margin-bottom: 15px
    .recipients-selector
      border: 1px solid #B6C0CD
      border-radius: 3px
      position: relative
      .recipient-bar
        height: 45px
        border-bottom: 1px solid #B6C0CD
        background-color: #F9FAFC
        padding: 6px 6px 0
        -webkit-border-top-left-radius: 3px
        -webkit-border-top-right-radius: 3px
        -moz-border-radius-topleft: 3px
        -moz-border-radius-topright: 3px
        border-top-left-radius: 3px
        border-top-right-radius: 3px
        .controls
          height: 40px

      .button.toggle-tags 
        padding: 9px 8px 9px 8px
        margin-left: 6px
        &.with-icon
          margin-top: 0px
          height: 15px
      .button.remote-lead-form
        padding-left: 8px
        padding-right: 8px
        padding-bottom: 9px
      .btn-group
        height: 35px
        margin-top: 2px
        .dropdown-toggle
          width: 120px
          padding: 6px 8px 7px
          margin-top: 0px
      .buttons
        li
          display: inline-block
          margin-bottom: 0
      .button.with-icon
        i
          color: #A2AAB6
          text-shadow: 0 1px 0 #ffffff
      .button.cta.with-icon, .button.cta.icon-only
        width: auto
        padding: 7px 5px
        i
          color: #fff
          text-shadow: 0 -1px 0 #278fbf

      .button.toggle-tags
        display: inline-block
        text-align: center
        padding: 9px 8px 9px 8px
        margin-left: 6px
        text-shadow: 0 1px 0 #ffffff
        border: 1px solid #B6C0CD
        -webkit-border-radius: 3px
        -moz-border-radius: 3px
        border-radius: 3px
        -webkit-transition: background-color .15s ease-in-out
        -moz-transition: background-color .15s ease-in-out
        -o-transition: background-color .15s ease-in-out
        font: bold 1.2rem/1 "Helvetica Neue","Helvetica",Arial,Verdana,sans-serif
        background: #EBECEE
        background: -moz-linear-gradient(90deg, #ebecee 0%, #fff 100%) #ebecee
        background: -webkit-linear-gradient(90deg, #ebecee 0%, #fff 100%) #ebecee

      .button.select-all
        display: inline-block
        text-align: center
        padding: 8px 15px 10px
        color: #5F6676
        text-decoration: none
        position: relative
        cursor: pointer
        outline: none
        margin: 0
        text-shadow: 0 1px 0 #ffffff
        border: 1px solid #B6C0CD
        -webkit-border-radius: 3px
        -moz-border-radius: 3px
        border-radius: 3px
        -webkit-transition: background-color .15s ease-in-out
        -moz-transition: background-color .15s ease-in-out
        -o-transition: background-color .15s ease-in-out
        font: bold 1.2rem/1 "Helvetica Neue","Helvetica",Arial,Verdana,sans-serif
        background: #EBECEE
        background: -moz-linear-gradient(90deg, #ebecee 0%, #fff 100%) #ebecee
        background: -webkit-linear-gradient(90deg, #ebecee 0%, #fff 100%) #ebecee
      .button.cta 
        color: #fff
        text-shadow: 0 -1px 0 #278fbf
        border-color: #278fbf
        background: #42AADA
        background: -moz-linear-gradient(90deg, #42aada 0%, #73c3e8 100%) no-repeat #84bf25
        background: -webkit-gradient(linear, left bottom, left top, from(#42aada), to(#73c3e8)) no-repeat #42aada
        &.with-icon
          width: auto
          font-size: 14px
          padding: 8px 5px
          margin: 0px 5px
          text-decoration: none
          cursor: pointer
      #search 
        position: absolute
        top: 7px
        left: 200px
        right: 150px
        height: 32px
        input
          display: block
          position: absolute
          top: 0
          right: 0
          left: 0px
          width: 100%
          padding-left: 26px
          padding-top: 6px
          padding-bottom: 5px
          margin-top: 1px
        i
          position: absolute
          top: 12px
          left: 9px
          color: #A2AAB6
        #search_text_box
          height: 32px
          box-shadow: none

      ul.buttons 
        float: right
      #contact_list
        li
          margin-right: 3px
          .select-contact
            pointer-events: none
        .selected
          background-color: #eaf0f6
      .no-contacts
        padding: 20px
    ul.recipient-list
      margin-bottom: 0
      padding: 0
      max-height: 202px
      overflow: auto
      background-color: #fff
      -webkit-border-bottom-right-radius: 3px
      -webkit-border-bottom-left-radius: 3px
      -moz-border-radius-bottomright: 3px
      -moz-border-radius-bottomleft: 3px
      border-bottom-right-radius: 3px
      border-bottom-left-radius: 3px
      li input, .recipient-list li .custom.checkbox
        position: absolute
        top: 19px
        left: 6px
      li 
        width: 221px
        height: 58px
        margin: 0
        padding: 0
        position: relative
        float: left
        cursor: pointer
        overflow: hidden
        &:hover
          background-color: #EAF0F6
        .avatar
          width: 35px 
          height: 35px 
          position: absolute 
          top: 10px 
          left: 28px
        input
          display: inline !important
        .contact-name
          position: absolute
          left: 68px
          top: 10px
          width: 150px
          overflow: hidden
          text-overflow: ellipsis
          white-space: nowrap
        .contact-email
          position: absolute
          left: 68px
          top: 27px
          font-weight: normal
          width: 150px
          overflow: hidden
          text-overflow: ellipsis


#pitch_view
  .pitch-view
    #endorsements_list
      a.show-hide
        display: none
    .editable
      border: none
      background: transparent
      &:focus
        outline: none
        border: none
    .transparent
      border: none
      background: transparent

      &:focus
        outline: none
        border: none
    textarea.text-headline
      color: white
      font-size: 7.2em
      width: 1210px
      min-height: 100px
      line-height:  100px
      height: 320px
      max-height: 320px
      overflow: hidden
      resize: none
      &:hover
        color: black
    .input_body_title
      width: 770px
      font-size: 40px

    #view_full_name
      color: #5f6676
      font-weight: bold
      font-size: 4.2rem
      width: 500px
      &:focus
        border: none
    #text_pitch_body_detail
      width: 750px
      height: auto
      font-size: 20px
      line-height: 30px
      background: transparent
      box-shadow: none
      border: none

#pitch_view
  input.transparent, textarea.transparent
    outline: 0
    border: 0
    width: 100%
    background: transparent
    box-shadow: none
  #view_pitch_list_title
    line-height: 40px
    input
      line-height: 20px
  .hover_highlight
    &:hover
      z-index: 19
      position: relative
      background-color: #fff !important
      -webkit-border-radius: 3px
      -moz-border-radius: 3px
      border-radius: 3px
      -moz-box-shadow: 0 0 20px rgba(255, 255, 255, .75) !important
      -webkit-box-shadow: 0 0 20px rgba(255, 255, 255, .75) !important
      box-shadow: 0 0 20px rgba(255, 255, 255, .75) !important
      color: black
#add_contact_modal
  .modal-body
    max-height: 430px
    padding-bottom: 0
  .mg-bottom-20
    margin-bottom: 20px
  .btn-contact
    display: block
    margin: auto
    padding: 10px 40px

  #manual
    .input-text
      font: 12px/18px "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif
      padding: 6px 9px 4px
      outline: none !important
      background-color: #fff
      -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.11)
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.11)
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.11)
      color: #5F6676
      -webkit-border-radius: 3px
      box-sizing: border-box
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      width: 100%
      height: 35px
  .save-add-contact
    padding: 10px 20px
    margin-top: 5px
    &:hover
      color: black
  .close 
    float: right
    font-size: 20px
    font-weight: bold
    line-height: 20px
    color: #000000
    text-shadow: 0 1px 0 #ffffff
    opacity: 0.2
    filter: alpha(opacity=20)
  button.close
    padding: 0
    cursor: pointer
    background: transparent
    border: 0
    -webkit-appearance: none
.text-fail
  color: red
.text-success
  color: #ffe84d
.email_invalid
  color: red
  display: inline-block
  margin-left: 10px
// css qtip custom
.qtip-custom
  padding-bottom: 10px
  background-color: #555
  margin-left: -20px
  padding-left: 20px
  margin-right: -20px
  padding-right: 24px
  padding-top: 10px
  border-top: 1px solid #000
.qtip-tooltip
  background-color: #8ebbff
  color: black
  font-size: 16px
  padding: 7px 15px
  border: none

.qtip-edit-video
  .qtip-tip
    left: 30px !important

.options .image-gallery ul 
  margin-bottom: 0
  

.options.image-gallery ul li 
  width: 115px
  display: inline-block
  line-height: 0
  margin-bottom: 5px
  padding: 0
  padding-right: 10px
  

  

.options.image-gallery ul li a 
  line-height: 0
  

.options.image-gallery ul li img 
  width: 115px
  height: 37px
.options.image-gallery .uploads-tabs ul 
  padding: 0
  text-align: left
  margin: 0 0 8px
  

.options.image-gallery .uploads-tabs ul li 
  border: 0
  color: #aaa
  cursor: pointer
  height: 35px
  line-height: 2.5em
  margin-bottom: -30px
  margin-top: -4px
  border-radius: 3px 3px 0 0
  background-color: #555
  text-align: left
  font-weight: bold
  font-size: 12px
  line-height: 1.2em

.custom-bg-button
  color: #fff
  text-shadow: 0 -1px 0 #6A981C
  font-weight: bold
  text-align: center
  font-size: 12px
  font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif
  margin-top: 7px
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  border: 1px solid #333
  background: #8bc92a
  background: -moz-linear-gradient(90deg, rgb(98, 146, 25) 0%, rgba(116, 169, 30, 0) 100%) #8bc92a
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(98, 146, 25)), to(rgba(116, 169, 30, 0))) #8bc92a
  -o-transition: background-color 1s
  -webkit-transition: background-color .5s
  -moz-transition: background-color .5s
  -ms-transition: background-color .5s
  transition: background-color .5s
  margin-right: auto
  margin-left: auto
  padding: 8px 24px 10px
  cursor: pointer
  -webkit-font-smoothing: antialiased

.edit-video
  height: 25px
  .edit-url
    color: white
    background-color: white
    &.show
      background-color: #fdfdff
      color: #3227ff
      &:hover, &:focus
        cursor: pointer

#edit_video_url
  input
    margin-left: 5px !important
    width: 85% !important


#offerings-spotlight
  ul
    li.row
      .close-icon
        display: none
      &:hover
        .close-icon
          display: inline-block
      .upload_image_list

        margin: 0
        img
          width: 99px

        .delete_photo_list
          text-align: center
          position: absolute
          right: 0
          background-color: rgba(0, 0, 0, 0.4)
          width: 17px
          height: 17px
          display: none
          color: #ffffff
        .btn_upload
          width: 100%
          cursor: pointer
          position: absolute
          text-align: center
          right: 0px
          margin-top: -33px
          background-color: rgba(0, 0, 0, 0.4)
          display: none
          padding: 5px 0px
          color: white
          text-shadow: 0 -1px 0 #6A981C
          border-color: #000
          span
            color: #ffffff
            text-align: center
            display: block
            width: 100%
          input[type="file"]
            cursor: pointer
            width: 100%
            height: 30px
            position: absolute
            opacity: 0
            right: 0
            top: 0

        &:hover
          .btn_upload
            display: block
          .delete_photo_list
            display: block
            text-decoration: none

.remove-link
  position: absolute
  right: 1px
  width: 24px
  height: 24px
  background-color: #000000
  text-align: center
  line-height: 21px
  font-size: 13px
  color: #FFFFFF
  border-radius: 12px

.link-title, .link-url
  padding: 5px
  outline: 0

.remove-statistic
  cursor: pointer
  position: absolute
  right: 1px
  width: 24px
  height: 24px
  background-color: #000000
  text-align: center
  line-height: 21px
  color: #FFFFFF
  border-radius: 12px
  margin-top: -34px

.link-title, .link-number
  padding: 5px
  outline: 0


#list-pitch
  a.close-icon
    right: 1px

  .list-add
    border: none
    display: block
    text-shadow: none
    background: none repeat scroll 0 0 #88C72C
    color: white
    padding: 5px 15px 6px
    margin-top: -28px
    &:hover,&:active
      background-color: #a8dd5c !important
    &:active
      box-shadow: none


#links
  .links-add
    display: block
    position: relative
    right: -25px
    bottom: 0
    background: none repeat scroll 0 0 #88C72C
    color: white
    padding: 5px 15px 6px
    margin-top: -15px
  &:hover
    .links-add
      display: block
  .new-link
    .remove-link
      display: none
    &:hover
      .remove-link
        display: block
#stats
  .statistics-add
    background: none repeat scroll 0 0 #88C72C
    color: white
    padding: 5px 15px 6px
    margin-top: 10px

  .new-statistic
    .remove-statistic
      display: none
    &:hover
      .remove-statistic
        display: block
#share
  ul
    li
      position: relative
      span.share-check
        cursor: pointer
        text-indent: -9999px
        width: 22px
        height: 22px
        display: block
        position: absolute
        right: -4px
        bottom: -4px
        background: image-url('sprite-icons-left-aligned.png')  0 -5453px
        &.hide
          display: none


header
  .ps-header
    display: block
    min-height: 85px
    outline: 0
  text-align: center

span.full-name
  &:empty
    min-width: 200px
  display: inline-block
  float: left
  font-size: 42px
  font-weight: bold
  line-height: 1.1

.pitch-text
  outline: 0
a.pitch-text
  min-height: 0
  text-decoration: none
  min-height: 32px

.link-title
  color: #2a85e8
  padding-bottom: 5px
  padding-top: 5px
.link-url
  font-size: 14px
  padding-bottom: 5px
  padding-top: 5px

.statistic-title
  color: #2a85e8
  padding-bottom: 5px
  padding-top: 5px
  outline: 0
.statistic-url
  font-size: 14px
  padding-bottom: 5px
  padding-top: 5px


.endorsements

  .pager
    position: absolute
    width: 100%
    text-align: center

  li
    &.page
      ul 
        li
          clear: both
          height: 52px
          margin: 0 0 5px 0
          position: relative
          width: 100%
          img
            width: 52px
            height: 52px
            float: left
            border-right: 5px solid white
          .show-hide
            margin-top: 0px
            font-size: 24px
            width: 24px
            height: 24px
            line-height: 24px
            vertical-align: middle
            text-align: center
            padding-top: 3px
            background: transparent


  .carousel-indicators
    left: 20px
    margin-left: 20px
    margin-right: 30px
    top: 0


section#endorsements
  .pager
    position: absolute
    top: 165px
    left: 0
    height: 10px
    width: 100%
    text-align: center
    .carousel-indicators
      li
        text-align: center
        text-indent: 1px
        float: none
        display: inline-block
        margin-left: 5px
        &.active
          a
            background: #555
        &:hover
          cursor: pointer
          background: #555
        a
          display: inline-block
          width: 9px
          height: 9px
          padding: 0
          background: #d3d3d3
          -webkit-border-radius: 50%
          -moz-border-radius: 50%
          border-radius: 50%
          -webkit-transition: background .125s
          -moz-transition: background .125s
          transition: background .125s

.bottom
  position: absolute
  top: 171px
  left: 0px
  display: block
  width: 100%
  height: 40px
  a
    &:hover
      text-decoration: none
    &.carousel-control-left
      float: left
      width: 40px
      height: 40px
      text-align: center
      font-size: 30px
      line-height: 40px

    &.carousel-control-right
      float: right
      width: 40px
      height: 40px
      text-align: center
      font-size: 30px
      line-height: 40px
      
      
#share
  span.show-hide
    cursor: pointer
    width: 22px
    height: 22px
    display: block
    position: absolute
    right: -4px
    bottom: -4px
    font-size: 24px
    background: transparent

#contact-info-spotlight
  span
    float: left
  span.profile-text
    display: inline
    float: left
    outline: 0

a.cta-mini
  text-decoration: none
.title-bar .cta-mini
  bottom: 0

a.mini-cta-btn.pitch-text
  min-height: 20px
  padding-bottom: 6px

.statistic-number
  text-align: center
  font-size: 60px
  display: block
  line-height: 60px
  outline: 0
.statistic-title
  color: #000000
  font-size: 18px
.edit-url
  .video-url
    display: block
    width: 100%
    line-height: 18px
    padding-left: 5px
    padding-top: 3px
    padding-bottom: 3px
    height: 18px
    background: transparent
    border: none
    outline: 0
    vertical-align: middle



  &:hover
    .video-url
      display: block



article.stat
  outline: 0

.button
  background-color: #42AADA
  border: medium none
  border-radius: 4px 4px 4px 4px
  color: #FFFFFF
  cursor: pointer
  display: inline-block
  font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,"Lucida Grande",sans-serif
  font-size: 2.4rem
  margin: 0
  outline: medium none
  padding: 23px 50px 27px
  position: relative
  text-align: center
  text-decoration: none
  transition: background-color 0.15s ease-in-out 0s
  &.full-width 
    padding-left: 0 !important
    padding-right: 0 !important
    text-align: center
    width: 100%
  &.auth-facebook
    background-color: #3B5998
    &:hover
      background-color: #354D80

  &.auth-google
    background-color: #C63D2D
    &:hover
      background-color: #D83E2A


.links-add
  position: absolute
  right: 0
  bottom: 0
#stats
  padding-bottom: 40px
  background: none
  .statistics-add
    right: 0
    bottom: 0
    display: block

a.close-icon
  &:hover
    text-decoration: none
section#utility-bar
  top: 37px
#page-container
  margin-top: 38px
  &.pitch-view
    margin-top: 38px

.row
  .nine
    width: 73.9%

.columns
  margin-left: 4.4%
  float: left
  min-height: 1px
  position: relative

.pitch-manage
  .main-content.overview
    min-height: 900px
    border-right: 1px solid #ACB6C3

  #header-bar
    position: relative
    background-color: #F7F8FA
    padding: 15px 20px
    border-bottom: 1px solid #B6C0CD
    height: 40px
    border-bottom: 1px solid #ACB6C3
    .workspace-title
      h2
        font-size: 18px
        line-height: 40px
        vertical-align: middle
    .controls
      margin-top: 3px
    .add-pitch
      color: #fff
      text-shadow: 0 -1px 0 #278fbf
      border-color: #278fbf
      box-shadow: none
      background: #42AADA
      background: -moz-linear-gradient(90deg, #42aada 0%, #73c3e8 100%) no-repeat #84bf25
      background: -webkit-gradient(linear, left bottom, left top, from(#42aada), to(#73c3e8)) no-repeat #42aada
      padding-top: 8px
      padding-bottom: 10px
      padding-left: 15px
      padding-right: 15px
      font-size: 13px
      line-height: 13px
      margin: 0
      &:hover
        color: #fff
        background: -moz-linear-gradient(90deg, #42aada 0%, #8aceed 100%) no-repeat #84bf25
        background: -webkit-gradient(linear, left bottom, left top, from(#42aada), to(#8aceed)) no-repeat #42aada

  #pitch-manager
    ul.sites
      margin-bottom: 18px
      padding: 20px
      li.add
        background-color: #f7f8fa
        width: 23.5%
        margin-bottom: 22px
        border: 1px dashed #b6c0cd
        -webkit-border-radius: 5px
        -moz-border-radius: 5px
        border-radius: 5px
        text-align: center
        float: left
      li.pitch
        background-color: #f7f8fa
        width: 23.5%
        margin-right: 1.7%
        margin-bottom: 22px
        border: 1px solid #b6c0cd
        -webkit-border-radius: 5px
        -moz-border-radius: 5px
        border-radius: 5px
        -moz-box-shadow: inset 0 1px 0 #ffffff
        -webkit-box-shadow: inset 0 1px 0 #ffffff
        box-shadow: inset 0 1px 0 #ffffff
        float: left
        position: relative
        h3
          font-size: 14px
          font-size: 1.4rem
          margin-bottom: 3px
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis
          margin-right: 10px
          padding: 7px 0 7px 12px
          a
            color: #FF6C1F
            text-decoration: none
            line-height: inherit
            -webkit-transition: color .15s ease-in-out
            -moz-transition: color .15s ease-in-out
            -o-transition: color .15s ease-in-out
        .thumbnail
          line-height: 0
          background-color: #fff
          margin: 0 10px 10px
          display: block
          -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1)
          -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1)
          box-shadow: 0 1px 3px rgba(0,0,0,0.1)
          position: relative
          border: 1px solid #b6c0cd
          .edit-trigger
            background-color: rgba(255,255,255,0.8)
            width: 100%
            height: 100%
            position: absolute
            top: 0
            left: 0
            text-align: center
            display: none
        
        .controls
          background-color: #e3e6eb
          -webkit-border-bottom-right-radius: 5px
          -webkit-border-bottom-left-radius: 5px
          -moz-border-radius-bottomright: 5px
          -moz-border-radius-bottomleft: 5px
          border-bottom-right-radius: 5px
          border-bottom-left-radius: 5px
          border-top: 1px solid #b6c0cd
          -moz-box-shadow: inset 0 1px 0 #ffffff
          -webkit-box-shadow: inset 0 1px 0 #ffffff
          box-shadow: inset 0 1px 0 #ffffff
          position: relative
          height: 38px
          .views
            background:  image-url("sprite-icons-left-aligned.png") no-repeat left -6180px
            padding-left: 26px
            margin-top: 2px
            position: absolute
            top: 7px
            left: 33px
          .publish
            background-color: #78AA21
            width: 14px
            height: 14px
            text-indent: -9999px
            display: block
            position: absolute
            -webkit-border-radius: 100px
            -moz-border-radius: 100px
            border-radius: 100px
            top: 11px
            left: 10px
            -moz-box-shadow: 0 1px 0 #ffffff
            -webkit-box-shadow: 0 1px 0 #ffffff
            box-shadow: 0 1px 0 #ffffff
          .actions-wrapper
            position: absolute
            right: 10px
            top: 7px

        a.close-icon
          display: block
          position: absolute
          right: -8px
          top: -6px
          width: 16px
          height: 16px
          text-align: center
          text-indent: 0
          font: normal bold 10px/14px Tahoma,sans-serif
          color: #5F6676
          background-color: #fff


.button.cta.with-icon,.button.cta.icon-only
  i
    color: #fff
    text-shadow: 0 -1px 0 #278fbf
.front-bg
  position: fixed
  width: 200%
  height: 200%
  left: -50%
  img
    display: block
    margin: auto
    min-width: 50%
    min-height: 50%
    top: 0
    left: 0
    right: 0
    bottom: 0
.menu
  background-color: #ffffff
  border-radius: 5px
  margin: 0
  padding: 0
  li
    font-size: 18px
    margin: 0
    border-bottom: 1px solid #E8EBF1
    position: relative
    padding-left: 20px
    padding-top: 8px
    padding-bottom: 8px
    &:last-child
      border-bottom: 0
section
  &#endorsements
    a.endorse
      margin-top: -13px

.list-title, .list-body
  outline: 0
  
.modal
  button.close 
    padding: 0
    cursor: pointer
    background: transparent
    border: 0
    -webkit-appearance: none
  
  .close 
    float: right
    font-size: 20px
    font-weight: bold
    line-height: 20px
    color: #000000
    text-shadow: 0 1px 0 #ffffff
    opacity: 0.2
    filter: alpha(opacity=20)

#show_contact
  .row
    span
      font-size: 14px

.pitch-view
  #endorsements_list
    a.show-hide
      display: none

.response-list
  .response 

    margin: 20px
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px
    position: relative
    .response-preview
      background-color: #F9FAFC
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      border-radius: 5px
      padding: 14px
      min-height: 110px
      p
        padding-left: 0
        font-family: "Georgia",serif
        font-style: italic !important
        font-size: 15px
        margin-bottom: 5px
        margin-left: 65px
      small
        font-size: 12px
        color: #a3a3a3
        margin-left: 65px
        display: block
      .common
        text-align: center
        border-top: 1px dashed #e3e6ec
        margin: 30px -14px 0px -14px
        padding: 18px 0px 10px 0px
        a.button
          color: #fff
          text-shadow: 0 -1px 0 rgba(0,0,0,0.25)
          text-align: center
          font-size: 16px
          font-weight: bold
          width: 100px
          padding: 9px 20px 12px 20px
          -webkit-border-radius: 3px
          -moz-border-radius: 3px
          border-radius: 3px
          border: 1px solid #278fbf
          background: #56A6FF
          background: -moz-linear-gradient(top, #56a6ff 0%, #4586cd 100%) #4586cd
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #56a6ff), color-stop(100%, #4586cd)) #4586cd
          background: -webkit-linear-gradient(top, #56a6ff 0%, #4586cd 100%) #4586cd
          background: -o-linear-gradient(top, #56a6ff 0%, #4586cd 100%) #4586cd
          background: -ms-linear-gradient(top, #56a6ff 0%, #4586cd 100%) #4586cd
          background: linear-gradient(to bottom, #56a6ff 0%, #4586cd 100%) #4586cd
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#56A6FF', endColorstr='#4586CD',GradientType=0 )
          -o-transition: background-color .5s
          -webkit-transition: background-color .5s
          -moz-transition: background-color .5s
          -ms-transition: background-color .5s
          transition: background-color .5s
          text-decoration: none
          margin: 0 auto
    .avatar-position 
      margin: 20px
    .marker
      background-color: #66cccc
      width: 30px
      height: 30px
      position: absolute
      top: 60px
      left: 6px
      border-radius: 9999px
      color: #fff
      text-shadow: none
    .response-notification
      margin-top: 20px
      padding-left: 95px
      padding-right: 20px
    p.response-type
      color: #98A5C3
      font-size: 12px
      font-size: 1.2rem
      text-transform: uppercase
      line-height: 1em
      margin-bottom: 4px
      letter-spacing: 1px
      padding-top: 2px
    .avatar
      background-color: #666
      height: 55px
      width: 55px
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      border-radius: 5px
      float: left
      i
        width: 25px
        height: 25px
        position: absolute
        left: 11px
        margin-top: -15px
        border-radius: 9999px
        color: #fff
        text-shadow: none
        background: #cbcbcb
        line-height: 25px
        text-align: center
#contact
  padding-right: 10px
  table
    thead
      th
        padding: 8px 14px 11px
        text-align: left
        color: #5F6676
        text-decoration: none
        position: relative
        outline: none
        margin: 0
        text-shadow: 0 1px 0 white
        background: #EBECEE
        background: -moz-linear-gradient(90deg, #ebecee 0%, #fff 100%) 0,#ebecee
        background: -webkit-gradient(linear, left bottom, left top, from(#ebecee), to(#fff)) 0,#ebecee
        border: 1px solid #B6C0CD
        white-space: nowrap
        font: bold 1.2rem/1 "Helvetica Neue","Helvetica",Arial,Verdana,sans-serif
    tbody
      tr
        border-bottom: 1px solid #d9dce2
        line-height: 1.4em
        &:nth-child(even)
          background-color: #f5f7fa
        td
          min-width: 100px
          line-height: 1.4em
          padding: 9px 10px
          vertical-align: middle
          text-align: left
          border: none
          color: #5F6676
          span
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap
section
  &.promotion-tools
    .tools
      margin-bottom: 0px
      text-align: justify
      font-size: 0.1px
      &:after
        content: ''
        display: inline-block
        width: 100%
 
      li
        display: inline-block
        vertical-align: top
        width: 24%
        -webkit-border-radius: 10px
        -moz-border-radius: 10px
        border-radius: 10px
        position: relative
        margin-bottom: 15px
        -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2)
        -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2)
        box-shadow: 0 1px 0 rgba(0,0,0,0.2)
        &.add
          -moz-box-shadow: none
          -webkit-box-shadow: none
            box-shadow: none
          a
            background-color: #F7F8FA
            border: 1px dashed #b6c0cd
            -webkit-border-radius: 10px
            -moz-border-radius: 10px
            border-radius: 10px
            i
              color: #E3E6EB
        a
          width: 100%
          height: 250px
          text-align: center
          background-color: orange
          display: block
          -webkit-border-radius: 15px
          -webkit-border-top-left-radius: 10px
          -webkit-border-top-right-radius: 10px
          -moz-border-radius: 15px
          -moz-border-radius-topleft: 10px
          -moz-border-radius-topright: 10px
          border-radius: 15px
          border-top-left-radius: 10px
          border-top-right-radius: 10px
          -webkit-transition: background-color .15s ease-in-out
          -moz-transition: background-color .15s ease-in-out
            -o-transition: background-color .15s ease-in-out
          i
            font-size: 100px
            color: #fff
            text-shadow: none
            width: 100%
            padding-top: 30px
            text-align: center
            float: left
  
          &.email
            background-color: #66CCCC
          &.twitter
            background-color: #00A0D0
          &.facebook
            background-color: #3B5998
          &.google
            background-color: #db4b3e
        .info
          width: 100%
          position: absolute
          bottom: 0px
          left: 0px
          font-size: 14px
          font-size: 1.4rem
          font-weight: bold
          background-color: #E8E9EB
          -webkit-border-bottom-right-radius: 10px
          -webkit-border-bottom-left-radius: 10px
          -moz-border-radius-bottomright: 10px
          -moz-border-radius-bottomleft: 10px
          border-bottom-right-radius: 10px
          border-bottom-left-radius: 10px
          padding-top: 10px
          padding-bottom: 13px
          .name
            margin-bottom: 0px
            padding-left: 15px
            float: left
          .reach
            float: right
            padding-right: 15px
.upload_image_list
  padding-bottom: 18px
  .cycle-number
    display: block
    width: 10px
    height: 10px
    padding: 5px
    border: 1px solid #ccc
    border-radius: 10px
    text-align: center
    position: absolute
    background-color: #fff
    vertical-align: middle
    line-height: 10px

.qtip.profile-badge
  background: #F9FAFC
  padding: 0
  box-shadow: 0 0 10px rgba(0,0,0,0.25)
  border-color: #8e9eb5
  border-width: 1px
  color: #454545
  .ui-tooltip-content
    span
      display: block
      text-align: center
      margin-top: 3px
    span, strong,p
      text-shadow: none
      font-size: 13px
      margin-bottom: 5px
    p
      font-weight: normal

.response
  border: 1px solid #E3E6ED
  margin: 20px
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  position: relative
  &.none
    text-align: center
    padding-top: 40px
    padding-bottom: 35px
    i
      background-color: #E8E9EB
      width: 100px
      height: 100px
      border-radius: 1000px
      color: #fff
      text-shadow: none
      font-size: 50px
      line-height: 106px
      margin-bottom: 20px
  
  



  




  



  


  