#users_page
  form.sign_in
    input[type="text"], input[type="email"], input[type="password"]
      padding: 20px
      font-size: 2.0rem
      color: #909090
      box-sizing: border-box
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      margin-bottom: 15px
      border-radius: 4px
      border: 1px solid #C2C2C2
      height: 66px
      line-height: 24px
    .expand
      width: 100%

    input[type="button"]
      opacity: 0.8
      font-weight: normal
      &:hover, &:focus
        opacity: 1

    #sign_in
      opacity: 0.8
      &:hover, &:focus
        opacity: 1
    .checkbox
      font-size: 16px
      padding-left: 20px
      line-height: 30px
      font-weight: normal
      input[type='checkbox']
        width: 20px
        height: 20px
        margin-right: 10px

.button
  border-radius: 4px
  padding: 23px 50px 27px

.button.auth-facebook
  background: -webkit-linear-gradient(90deg, #3B5998 0%, #3B5998 100%) #3B5998
  color: white
  font-size: 20px
  text-decoration: none
  cursor: pointer
  opacity: 0.8
  &:hover
    background: -webkit-linear-gradient(90deg, #3B5998 0%, #3B5998 100%) #ebecee
    color: white
    opacity: 1

.button.auth-google
  background: -webkit-linear-gradient(90deg, #C63D2D 0%, #C63D2D 100%) #3B5998
  color: white
  font-size: 20px
  text-decoration: none
  cursor: pointer
  opacity: 0.8
  &:hover
    background: -webkit-linear-gradient(90deg, #C63D2D 0%, #C63D2D 100%) #ebecee
    color: white
    opacity: 1

#user_info
  float: right
  li
    a
      color: white
      &:hover
        text-decoration: none

.forgot-password
  a
    text-decoration: none
    cursor: pointer
    color: #FF6C1F

#sign_up_error, #reset_password_error
  padding: 10px
  border-radius: 3px
#user_info
  margin-bottom: 0
.app-header
  padding-top: 5px
  padding-bottom: 5px
  height: 26px

.app-header
  ul#main-nav,#user_info
    margin-top: 0
    li
      line-height: 26px
      margin-bottom: 0
      margin-top: 0
      vertical-align: middle

#utility
  list-style: none
  z-index: 12
  top: 25px
  right: 0
  border: 1px solid #de5812
  width: 135px
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  background-color: #ff6c1f
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2)
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2)
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2)
  a
    white-space: nowrap
    display: block
    padding: 6px 10px 7px 13px
    font-weight: bold
    color: #fff
    text-shadow: 0 -1px 0 #ec5201
    width: 112px
    &:hover, &:focus, &:active
      background-color: #ff6c1f
      background-image: none

  &.dropdown-menu:before
    position: absolute
    top: -7px
    left: auto
    right: 12px
    display: inline-block
    border-right: 7px solid transparent
    border-bottom: 7px solid #ccc
    border-left: 7px solid transparent
    border-bottom-color: rgba(0, 0, 0, 0.2)
    content: ''
  &.dropdown-menu:after
    left: auto
    right: 12px
    position: absolute
    top: -6px

    display: inline-block
    border-right: 6px solid transparent
    border-bottom: 6px solid #ff6c1f
    border-left: 6px solid transparent
    content: ''

  

  
