@import "../base/mixin"

@font-face
  font-family: 'Gotham Rounded Book'
  font-style: normal
  font-weight: 400
  src: url('/assets/Gotham_Rounded/GothamRnd-Book.otf')  format('opentype')

@font-face
  font-family: "Proxima Nova Rg"
  font-style: normal
  font-weight: 400
  src: url('/assets/Proxima/ProximaNova-Regular.otf')  format('opentype')


a.disabled
  opacity: 0.5
  pointer-events: none
  cursor: default


.hide-qtip
  display: none !important
.hide-modal
  display: none
.hide
  display: none
.show
  display: block !important

.left
  float: left

.right
  float: right

.text-left
  text-align: left

.text-center
  text-align: center

.text-right
  text-align: right

.selectable
  -webkit-user-select: text
  -khtml-user-select: text
  -moz-user-select: text
  -o-user-select: text
  user-select: text

.unselectable
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -o-user-select: none
  user-select: none
  -webkit-touch-callout: none

.clip-content
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden

.clip-content-raw
  white-space: nowrap
  text-overflow: clip
  overflow: hidden

.fullscreen
  top: 0
  right: 0
  bottom: 0
  left: 0

.bold
  font-weight: bold

.uppercase
  text-transform: uppercase

.capitalize
  text-transform: capitalize

.pointer
  cursor: pointer

.inline
  display: inline-block

.rotate45
  @include transform(translate(-16px, 9px) rotate(-45deg))

@each $var in 16, 24, 32, 36, 40, 48, 64, 72, 80, 88, 96, 100, 128, 144, 160, 200, 224, 256, 320, 480, 520
  .width-#{$var}px
    width: #{$var}px
  .height-#{$var}px
    height: #{$var}px

@each $size in 16, 24, 28, 32, 36, 40, 48, 64, 72, 80, 88, 96, 100, 128, 144, 160, 200, 224, 256, 320, 480, 520
  .size-#{$size}px
    width: #{$size}px
    height: #{$size}px

@for $i from 8 through 64
  .fontsize-#{$i}px
    font-size: #{$i}px
.fontsize-128px
  font-size: 128px

$i: 0
@while $i <= 100
  .width-#{$i}per
    width: #{$i+'%'} !important
  $i: $i + 5

.full-width
  width: 100%






