<!DOCTYPE html>
<html>
<title>StudentConnect</title>
<meta content="" property='og:title'>
<meta content='studentconnect:pitch' property='og:type'>
<meta content='' property='og:image'>
<meta content='300' property='og:image:width'>
<meta content='300' property='og:image:height'>
<meta content='' property='og:description'>
<meta content='136247586513984' prefix='fb: http://ogp.me/ns/fb#' property='fb:app_id'>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>


<body class="<%= controller.controller_name %>">
<% if controller.controller_name == "users" %>
    <div class="front-bg">
      <img class="front-image" src="https://abs.twimg.com/a/1377795275/t1/img/front_page/jp-mountain@2x.jpg">
    </div>
<% end %>
<script type="text/javascript">
    <% if signed_in? -%>
    Studentconnect.currentUser = new Studentconnect.Models.User(<%= current_user.to_json().html_safe %>);

    <% else -%>
    Studentconnect.currentUser = null;
    <% end -%>
    Studentconnect.data = {
        video_placeholder: "<%= asset_path('video-placeholder.png')%>",
        endorsement_prompt_list: "<%= asset_path('endorsement-prompt-list.png')%>",
        endorsement_prompt_avatar: "<%= asset_path('endorsement-prompt-avatar.png')%>",
        ps_bg_grain: "<%= asset_path('ps-bg-grain.jpg')%>",
        placeholder_image2: "<%= asset_path('placeholder-image2.gif')%>",
        bg_content: "<%= asset_path('bg-content.png')%>",
        bg_endorsement_detail: "<%= asset_path('bg-endorsement-detail.png')%>",
        default_picture: "<%= asset_path('default_picture.png')%>",
        person_default: "<%= asset_path('person_default.png')%>",
        endorsement_prompt_avatar: "<%= asset_path('endorsement-prompt-avatar.png')%>",
        bg_pitch_add: "<%= asset_path('bg-pitch-add.png')%>"
    }
</script>
<div class="app-header">
  <div class="container">
    <div class="row">
      <ul id="main-nav" class="hide">
        <li class="current">
          <a href="/#pitches">Site manager</a>
        </li>
      </ul>
      <ul id="user_info">

      </ul>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
